
h1{
    font-size: xxx-large;
}

.household-container{
    width: 1600px;
    height: 870px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
    border: 2px solid #6d8a78;
}

.household-header{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 70rem;
}